.cover_overlay{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
  color: #ffffff;
  text-decoration: none;
  background-color:#2A2C2F;
  position: absolute;
  z-index: 2;
  opacity: .8;

}
.cover_overlay:hover{
opacity: .3;
transition-duration: .5s;   
}
   