.intro__list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  margin-left: 148px;
  margin-right: 442px;
  width: 690px;
}
@media (max-width: 1280px) {
  .intro__list {
    margin-left: calc(48px + (148 - 48) * ((100vw - 1024px) / (1280 - 1024)));
    margin-right: calc(286px + (442 - 286) * ((100vw - 1024px) / (1280 - 1024)));
  }

 @media (max-width: 1024px) {
  .intro__list {
    margin-left: calc(24px + (48 - 24) * ((100vw - 768px) / (1024 - 768)));
    margin-right: calc(24px + (286 - 24) * ((100vw - 768px) / (1024 - 768)));
    width: calc(720px + (690 - 720) * ((100vw - 768px) / (1024 - 768)));
    
  } 
@media (max-width: 768px) {
  .intro__list {
    margin-left: calc(16px + (24 - 16) * ((100vw - 320px) / (768 - 320)));
    margin-right: calc(16px + (24 - 16) * ((100vw - 320px) / (768 - 320)));
    width: calc(288px + (720 - 288) * ((100vw - 320px) / (768 - 320)));
  } 