.cover__subtitle {
  line-height: 22px;
  font-size: 18px;
  font-weight: 400;
  max-width: 360px;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 245px;
  margin-top: 32px;
}
@media (max-width: 1180px) {
  .cover__subtitle {
    margin-bottom: 220px;
  }
}
@media (max-width: 1024px) {
  .cover__subtitle {
    margin-bottom: 195px;
  }
}
@media (max-width: 870px) {
  .cover__subtitle {
    margin-bottom: 155px;
  }
}
@media (max-width: 768px) {
  .cover__subtitle {
    margin-bottom: 115px;
  }
}
@media (max-width: 543px) {
  .cover__subtitle {
    margin-bottom: 74px;
    margin-top: 24px;
    line-height: 16px;
    font-size: 14px;
    max-width: 340px;
  }
}
@media (max-width: 320px) {
  .cover__subtitle {
    margin-bottom: 33px;
    margin-top: 16px;
  }
}
