.header__logo {
  background-image: url(../../../images/logo/logo-russia.svg);
  width: 176px;
  height: 52px;
  margin: 0;
  margin-top: 28px;
  background-size: cover;
  background-position: center;
}

 @media (max-width: 425px) {
  .header__logo {
  width: 142px;
  height: 42px;
  }
}
