.footer__link {
  display: block;
  text-decoration: none;
  line-height: 18px;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  margin-right: 18px;

}
@media (max-width: 510px) {
  .footer__link {
    line-height: 22px;
    font-size: 20px;
    margin-top: 16px;
  }
}
@media (max-width: 450px) {
  .footer__link {
    line-height: 24px;
    font-size: 24px;
    margin-top: 32px;
  }
}
