.footer__copyright {
  line-height: 16px;
  width: 592px;
  font-size: 14x;
  font-weight: 400;
  color: #ffffff;
  text-align: end;
  margin-right: 48px;
}
@media (max-width: 1024px) {
  .footer__copyright {
    margin-right: calc(24px + (48 - 24) * ((100vw - 768px) / (1024 - 768)));
  }
}
@media (max-width: 768px) {
  .footer__copyright {
    text-align: start;
    margin-right: 0;
    margin-top: 48px;
    margin-left: calc(16px + (24 - 16) * ((100vw - 320px) / (768 - 320)));
    width: calc(288px + (592 - 288) * ((100vw - 320px) / (768 - 320)));
  }
}
