.footer__copyright {
  line-height: 16px;
  width: 186px;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  text-align: end;
}

@media (max-width: 690px) {
  .footer__copyright {
   flex-direction: column;
   text-align: left;
   margin-top: 48px;
}
