.lead__subtitle {
  margin-bottom: 64px;
  margin-top: 32px;
  text-align: center;
  line-height: 36px;
  font-size: 36px;
  font-weight: 400;
  padding: 0;
  max-width: 640px;
}
@media (max-width: 680px) {
  .lead__subtitle {
    line-height: 24px;
   font-size: 24px;
   max-width: 440px;
  }
}
@media (max-width: 520px) {
  .lead__subtitle {
    line-height: 22px;
   font-size: 20px;
   max-width:350px;
   
  }
}
@media (max-width: 430px) {
  .lead__subtitle {
    line-height: 20px;
   font-size: 16px;
   max-width: 280px;
  }
}
