.cover {
  background-color: #2a2c2f;
  position: relative;
  padding-top: 60px;
  padding-right: 48px;
  padding-left: 48px;
}
@media (max-width: 1180px) {
  .cover {
    padding-right: 24px;
    padding-left: 24px;
  }
}
@media (max-width: 1024px) {
  .cover {
    padding-right: 0;
    padding-left: 0;
  }
}
