.cover__image {
  position: absolute;
  z-index: 0;
  background-image: url(../../../images/cover-trains.jpg);
  width: 1184px;
  object-fit: cover;
}
@media (max-width: 1280px) {
  .cover__image {
    width: calc(1024px + (1184 - 1024) * ((100vw - 1024px) / (1280 - 1024)));
  }
  @media (max-width: 1024px) {
    .cover__image {
      width: calc(768px + (1024 - 768) * ((100vw - 768px) / (1024 - 768)));
    }
  }
  @media (max-width: 768px) {
    .cover__image {
      width: calc(320px + (768 - 320) * ((100vw - 320px) / (768 - 320)));
    }
  }
}
