.cover__overlay {
  text-decoration: none;
  background-color: rgba(42,44,47,0.3);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}
.cover__overlay:hover {
  background-color: rgba(42,44,47,0.8);
  transition-duration: 0.5s;
}
