.cover__title {
  line-height: 76px;
  font-size: 72px;
  font-weight: 900;
  max-width: 560px;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 245px;
}

@media (max-width: 1180px) {
  .cover__title {
    margin-top: 220px;
  }
}
@media (max-width: 1024px) {
  .cover__title {
    margin-top: 195px;
  }
}
@media (max-width: 870px) {
  .cover__title {
    margin-top: 155px;
  }
}
@media (max-width: 768px) {
  .cover__title {
    margin-top: 115px;
  }
}
@media (max-width: 543px) {
  .cover__title {
    margin-top: 74px;
    font-size: 67px;
    line-height: 71px;
  }
}
@media (max-width: 472px) {
  .cover__title {
    margin-top: 64px;
    font-size: 57px;
    line-height: 71px;
  }
}
@media (max-width: 425px) {
  .cover__title {
    margin-top: 33px;
    font-size: 52px;
    line-height: 57px;
  }
}
@media (max-width: 366px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 266px;
  }
}
