.place {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #2a2c2f;
  color: #ffffff;
  margin: 0;
  grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
  grid-auto-rows: 213px;
  gap: 40px;
  padding-top: 92px;
}

@media (max-width: 1280px) {
  .place {
    gap: calc(32px + (40 - 32) * ((100vw - 1024px) / (1280 - 1024)));
  }
}
@media (max-width: 1024px) {
  .place {
    padding-top: calc(88px + (92 - 88) * ((100vw - 768px) / (1024 - 768)));
    gap: calc(28px + (32 - 28) * ((100vw - 320px) / (1024 - 320)));
  }
}
@media (max-width: 768px) {
  .place {
    padding-top: calc(64px + (88 - 64) * ((100vw - 320px) / (768 - 320)));
    
  }
}
@media (max-width: 740px) {
  .place {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    
  }
}
